# Haaglanden Medisch Centrum sleep staging database.
DATA_HAANGLANDEN=C:/data/haaglanden-recordings'

# Sleep-EDF Database Expanded (https://physionet.org/content/sleep-edfx/1.0.0/).
DATA_SLEEP_EDFX=C:/data/sleep-edf-database-expanded-1.0.0/sleep-cassette
