# Haaglanden Medisch Centrum sleep staging database.
DATA_HAANGLANDEN='C:/Users/user/PycharmProjects/EEGSleepTest/datasets/Haaglanden/recordings'

# Sleep-EDF Database Expanded (https://physionet.org/content/sleep-edfx/1.0.0/).
DATA_SLEEP_EDFX='C:/Users/user/PycharmProjects/EEGSleepTest/datasets/EDF/sleep-cassette'
